<div class="container global-width-limiter">
  <div class="container__left">
    <a routerLink="/">
      <img src="assets/images/shared/logo.png">
    </a>
  </div>
  <div class="container__right">
    <ul>
      <li ngbDropdown>
        <span id="dropdownBasic1" ngbDropdownToggle><span class="flag in"></span><span>IN</span></span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><span class="flag in"></span>INDIA</button>
          <button ngbDropdownItem><span class="flag ae"></span>AUE</button>
          <button ngbDropdownItem><span class="flag us"></span>US</button>
        </div>
      </li>
    </ul>
  </div>
</div>
