.wrapper{
  .filters{

    .top{
      display: flex;
      flex-direction: row;
    }
    .filter{

      &__content{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
      }
      &__title{
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 400;
        padding: 0 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 190px;
        white-space: nowrap;
      }
      &__number{
        font-size: 12px;
        line-height: 12px;
        color: #9b9b9b;
        display: flex;
        align-self: center;
        margin-left: auto;
      }
      input{
        display: flex;
        align-self: center;
      }
      &__description{
        font-size: 10px;
        line-height: 10px;
        color: #9b9b9b;
        justify-content: center;
        text-align: center;
      }
    }
  }
  .show{
    color: #0084ff;

    .show-more{
      color: #0084ff;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
