.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  .head-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #bad4f7;
    padding-bottom: 1px;
    background-color: #ebf3ff;
    a{
      color: #0071c2;
      font-weight: bold;
      padding: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-grow: 1;
      border-right: 1px solid #fff;
      cursor: pointer;
      &:last-child{
        border-right: 0;
        flex-grow: 1.5;
      }
      &:hover{
        color: #4a4a4a;
      }
    }
  }
  .images{
    padding-top: 20px;
    display: grid;
    grid-template-rows: 450px 150px;
    grid-template-columns: 1fr;
    row-gap: 15px;
    position: relative;
    .img-container{
      display: grid;
      cursor: pointer;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
    &__top{
      display: grid;
      grid-template-rows: repeat(auto-fill, minmax(40%, 1fr));
      grid-template-columns: 300px  repeat(auto-fill, minmax(60%, 1fr));
      grid-gap: 15px;

      .img-container{
        &:nth-child(1){
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }
        &:nth-child(2){
          grid-column: 1 / span 1;
          grid-row: 2 / span 1;
        }
        &:nth-child(3){
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }
    }
    &__bottom{
      display: grid;
      grid-template-rows: 1fr;
      column-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      .img-container{

        &.with-number{
          position: relative;

          .number{
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            text-decoration: underline;
            background-color: rgba(0,0,0,0.40);
          }
        }
      }
    }
    .images-popup{
      position: absolute;
      top: 30px;
      right: 20px;
      display: flex;
      transition: 0.5s;
      opacity: 0;
      flex-direction: column;

      &__top{
        display: flex;
        flex-direction: row;
        width: 100%;
        .reviews{
          background-color: #fff;
          padding: 10px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;

          &__title{
            color: #003580;
            font-size: 16px;
            font-weight: 500;
          }
          &__subtitle{
            color: #6b6b6b;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            margin-top: 4px;
            text-align: right;
          }
          &__left{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
          }
        }
      }
      &__content{
        width: 300px;
        height: 200px;
        padding: 10px 0;

        .review{
          display: flex;
          height: 100%;
          justify-content: space-between;
          flex-direction: column;
          &__comment{
            padding: 10px 30px;
            background-color: rgb(235, 243, 255);
            font-size: 13px;
            height: 100%;
          }
          &__bottom{
            padding: 5px;
            display: flex;
            flex-direction: row;

            &__right{
              display: flex;
              flex-direction: column;
            }
          }
          &__avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 20px;
            color: #fff;
          }
          &__name{
            font-size: 12px;
            font-weight: bold;
            display: flex;
            justify-content: left;
          }
          &__country{
            font-size: 12px;
            display: flex;
            justify-content: left;
          }
        }
      }
      &__bottom{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        padding: 10px;

        .single-review{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          &__left{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 10px;
          }
        }
      }
    }
    &:hover{
      .images-popup{
        opacity: 1;
      }
    }
    .rating{
      background-color: #003580;
      color: #fff;
      border-radius: 6px 6px 6px 0;
      padding: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      &.white{
        border: 1px solid #333;
        color: #333;
        background: transparent;
        line-height: 30px;
      }
    }
    ::ng-deep{
      .swiper-button-prev,.swiper-button-next{
        &:after{
          font-size: 20px;
        }
      }
      .swiper-button-prev{
        left: 0;
      }
      .swiper-button-next{
        right: 0;
      }
    }
  }
  .availability{
    display: flex;
    flex-direction: column;
    h1{
      margin: 24px 0 10px 0;
      font-weight: 600;
      font-size: 30px;
    }
    .rooms{
      display: flex;
      flex-direction: row;

      &__table{
        width: 80%;
        box-sizing: border-box;

        th{
          background-color: #4c76b2;
          color: #fff;
          padding: 6px 8px;
          font-size: 15px;
          font-weight: bold;
          height: 60px;
          vertical-align: text-top;
          border-right: 1px solid #5bbaff;
          box-sizing: border-box;

          &:nth-child(1){
            min-width: 300px;
          }
          &:nth-child(2){
            width: 70px;
          }
          &:nth-child(3){
            width: 50px;
            text-align: center;
          }
          &:nth-child(4){
            width: 300px;
          }
          &:nth-child(5){
            width: 50px;
          }
        }
        tr{
          border-bottom: 3px solid #5bbaff;
        }
        td{
          box-sizing: border-box;
          border-right: 1px solid #5bbaff;
          padding: 6px 8px;
          vertical-align: top;
        }
        .type {
          .beds {
            .bed {
              display: flex;
              flex-direction: row;

              img {
                align-self: center;
                margin-left: 10px;
              }

              &.queen {
                img {
                  height: 20px;
                  width: 20px;
                }
              }
            }

          }
          .name{
            color: #0071c2;
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
          }
          .facilities{
            display: flex;
            flex-wrap: wrap;
            color: #008009;
            font-size: 13px;
            padding-top: 10px;

            i{
              font-size: 15px;
            }
            &.with-icons{
              padding: 5px 0 10px 0;
              border-bottom: 1px solid #e6e6e6;
            }
            .facility{
              display: flex;
              flex-direction: row;

              &__icon{
                height: 15px;
                width: 15px;
                display: flex;
                margin: 0 3px;
                img{
                }
              }
              &__name{
                font-size: 14px;
              }
            }
          }
        }
        .sleeps{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 100%;
          align-items: flex-start;
          &__person{

          }
        }
        .price{
          &__top{
            font-weight: bold;
            font-size: 20px;
          }
          &__additional{
            color: #6b6b6b;
            font-size: 15px;

          }
        }
        .choices{
          display: flex;
          flex-direction: column;


          &__top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .question-mark{
              display: flex;
              justify-content: center;
              align-content: center;
              background-color: #008cff;
              color: #fff;
              border-radius: 50%;
              height: 20px;
              width: 20px;
              font-size: 15px;
              font-weight: bold;
              align-items: center;
              align-self: center;
            }
          }
          &__content{
            display: flex;
            flex-direction: row;

            &__icon{
              font-size: 20px;
            }
            &__text{
              padding-left: 5px;
              padding-right: 25px;
            }
          }
          &__text{
            padding-left: 25px;
          }
        }
      }
      &__reservation{
        display: flex;
        flex-direction: column;
        width: 20%;
        box-sizing: border-box;
      }
      .type{
        display: flex;
        flex-direction: column;
      }
      img{
        display: flex;
        width: 15px;
        height: 15px;
      }
      .dropdown{
        .btn-outline-primary{
          &:hover,&:active,&:focus {
            background-color: #005c9d;
            border-color: #005c9d;
            box-shadow: none;
            color: #fff;
          }
        }
      }
      .show > .btn-outline-primary.dropdown-toggle{
        background-color: #005c9d;
        border-color: #005c9d;
        box-shadow: none;
      }
      .reserve{
        display: flex;
        flex-direction: column;
        width: 20%;

        &__top{
          height: 60px;
          width: 100%;
          box-sizing: border-box;
          background-color: #4c76b2;
        }
        &__content{
          padding: 8px;
          background-color: #ebf3ff;
          height: calc(100% - 60px);

          button{
            background-color: #4c76b2;
            width: 100%;
            color: #fff;
            text-align: center;
            display: block;
            justify-content: center;
            align-items: center;
            padding: 7px 15px;

            &:hover{
              background-color: #005c9d;
              border-color: #005c9d;
            }
            &:active,&:focus{
              outline: none;
              box-shadow: none;
            }
          }
        }
        &__default{
          padding-top: 20px;
          ul{
            padding-left: 20px;
          }
        }
        &__info{
          padding: 0 0 10px 0;
          &__price{
            font-weight: 500;
            font-size: 24px;
          }
          &__additional{
            color: #6b6b6b;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .wrapper{
    .images {
      grid-template-rows: 300px 150px;

      .tablet-hide {
        display: none;
      }

      &__top {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(40%, 1fr));
        grid-template-columns: 250px repeat(auto-fill, minmax(60%, 1fr));
        grid-gap: 15px;

      }
    }
    .availability {
      .rooms {

        &__table {
          th {
            &:nth-child(1) {
              min-width: 200px;
            }

            &:nth-child(2) {
              width: 70px;
            }

            &:nth-child(3) {
              width: 50px;
              text-align: center;
            }

            &:nth-child(4) {
              width: 200px;
            }

            &:nth-child(5) {
              width: 50px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    .mobile-hide{
      display: none;
    }
    .head-links {
      flex-direction: column;
      border: none;
      a {
        border-right: none;
        border-bottom: 1px solid #fff;;
      }
    }
    .images{
      &__mobile {
        display: flex;
        width: 100%;
        padding: 20px 15px;
        height: 400px;

        .img-container{
          display: flex;
          width: 100%;
          height: 100%;

          img{
            display: flex;
            margin: 0 auto;
          }
        }
      }
    }
    .availability{

      &__mobile{
        padding: 10px 15px;

        .rooms {
          .room {
            border: 1px solid rgba(188,188,188,0.73);
            padding: 10px;
            margin-bottom: 15px;

            &__up-to{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
            }
            .sleeps{

              &__person{
                display: flex;
                flex-wrap: wrap;
              }
            }
            &__title{
              color: #0071c2;
              text-decoration: underline;
              font-weight: bold;
            }
            .facilities {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              .facility {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                border: 1px solid #333;
                margin-right: 10px;
                padding: 4px;
                border-radius: 4px;
                margin-bottom: 10px;
                align-items: center;
                &__icon {
                  height: 15px;
                  width: 15px;
                  display: flex;
                  margin: 0 3px;

                  img {
                  }
                }

                &__name {
                  font-size: 14px;
                }
              }
            }
            .choices{
              display: flex;
              flex-direction: row;

              i{
                color: #008009;
              }
            }
            .beds{

              .bed{
                display: flex;

                img{
                  display: flex;
                  width: 15px;
                  height: 15px;
                  align-self: center;
                  margin-left: 10px;
                }
              }
            }
            .price{
              display: flex;
              flex-direction: row;

              &__left{
                display: flex;
                flex-direction: column;
              }
              &__top{
                color: #008009;
                font-size: 20px;
                font-weight: bold;
              }
              &__additional{
                font-size: 14px;
                font-weight: 300;
                color: #6b6b6b;
              }
              &__right{
                button{
                  background-color: #fff;
                  color: #0071c2;
                  border-color: #0071c2;
                  padding: 15px 25px;
                  margin: 20px 0 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
