<div class="wrapper global-width-limiter">
  <div class="head-links">
    <a>Info & prices</a>
    <a>Facilities</a>
    <a>House rules</a>
    <a>Guest reviews (929)</a>
  </div>
  <div class="images mobile-hide">
    <div class="images__top">
      <div class="img-container">
        <img src="assets/images/prefill/hotel-page/259260775.webp">
      </div>
      <div class="img-container">
        <img src="assets/images/prefill/hotel-page/259262309.webp">
      </div>
      <div class="img-container">
        <img src="assets/images/prefill/hotel-page/259263765.webp">
      </div>
    </div>
    <div class="images__bottom">
      <div class="img-container tablet-hide">
        <img src="assets/images/prefill/hotel-page/273030762.webp">
      </div>
      <div class="img-container tablet-hide">
        <img src="assets/images/prefill/hotel-page/273030777.webp">
      </div>
      <div class="img-container">
        <img src="assets/images/prefill/hotel-page/273030778.webp">
      </div>
      <div class="img-container">
        <img src="assets/images/prefill/hotel-page/273030781.webp">
      </div>
      <div class="img-container">
        <img src="assets/images/prefill/hotel-page/42807912.webp">
      </div>
      <div class="img-container with-number">
        <img src="assets/images/prefill/hotel-page/273030784.webp">
        <div class="number">
          +45 photos
        </div>
      </div>
    </div>
    <div class="images-popup">
      <div class="images-popup__top">
        <div class="reviews">
          <div class="reviews__left">
            <div class="reviews__title">
              Very Good
            </div>
            <div class="reviews__subtitle">
              267 reviews
            </div>
          </div>
          <div class="right">
            <div class="rating">
              8.4
            </div>
          </div>
        </div>
      </div>
      <div class="images-popup__content">
        <swiper
          [slidesPerView]="1"
          [spaceBetween]="50"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()"
          [navigation]="true"
          [draggable]="false"
          [touchRatio]="0"
          [loop]="true"
        >
          <ng-template swiperSlide  *ngFor="let review of reviews">
            <div class="review">
              <div class="review__comment">
                {{review.text}}
              </div>
              <div class="review__bottom">
                <div class="review__bottom__left">
                  <div class="review__avatar" [style.background]="review.color">
                    {{review.avatar}}
                  </div>
                </div>
                <div class="review__bottom__right">
                  <div class="review__name">
                    {{review.name}}
                  </div>
                  <div class="review__country">
                    {{review.countryName}}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
      <div class="images-popup__bottom">
        <div class="single-review">
          <div class="single-review__left">Excellent location!</div>
          <div class="single-review__right">
            <div class="rating white">
              8.4
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-hide tablet-hide">
    <div class="images__mobile">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="50"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()"
        [navigation]="true"
        [loop]="true"
      >
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/259260775.webp">
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/259262309.webp">
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/259263765.webp">
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/273030762.webp">
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/273030777.webp">
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/273030778.webp">
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="img-container">
            <img src="assets/images/prefill/hotel-page/259263765.webp">
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
  <div class="availability mobile-hide">
    <h1>Availability</h1>
    <div class="rooms">
      <table class="rooms__table">
        <thead>
          <th>Accommodation Type</th>
          <th>Sleeps</th>
          <th>Today's Price</th>
          <th>Your Choices</th>
          <th>Select Rooms</th>
        </thead>
        <tr *ngFor="let room of hotelRooms; let i = index">
          <td>
            <div class="type">
              <div class="name">
                {{room.name}}
              </div>
              <div class="beds">
                <div class="bed normal" *ngIf="room.beds.normal">
                  1 bed
                  <img src="assets/images/prefill/hotel-page/icons/bed.svg">
                </div>
                <div class="bed queen" *ngIf="room.beds.queen">
                  1 queen bed
                  <img src="assets/images/prefill/hotel-page/icons/bed-queen.svg">
                </div>
                <div class="bed twin" *ngIf="room.beds.twin">
                  1 twin beds
                  <img src="assets/images/prefill/hotel-page/icons/bed.svg">
                  <img src="assets/images/prefill/hotel-page/icons/bed.svg">
                </div>
              </div>
              <div class="facilities with-icons">
                <div class="facility" *ngFor="let f of room.facilitiesIcons">
                  <div class="facility__icon">
                    <img [src]="f.img">
                  </div>
                  <div class="facility__name">{{f.title}}</div>
                </div>
                <div class="facility__review">
                  <strong>- {{room.rating.score}} {{room.rating.description}} </strong>
                </div>
              </div>
              <div class="facilities">
                <div class="facility" *ngFor="let f of room.facilities">
                  <i class="bi bi-check2"></i><div>{{f}}</div>
                </div>
              </div>
              <hr>
            </div>
          </td>
          <td>
            <div class="sleeps">
              <div *ngFor="let p of room.sleeps " class="sleeps__person">
                <i class="bi bi-person-fill"></i>
              </div>
            </div>
          </td>
          <td>
            <div class="price">
              <div class="price__top">
                US${{room.price}}
              </div>
              <div class="price__additional">
                +US${{room.additionalPrice}} taxes and charges
              </div>
            </div>
          </td>
          <td>
            <div class="choices">
              <div class="choices__top">
                <div class="choices__text">
                  Total cost to cancel
                </div>
                <div class="question-mark" placement="top" [ngbTooltip]="tipContent">
                  ?
                </div>
                <ng-template #tipContent>
                  <p>
                    <strong>Meals:</strong>
                    No meal is included in this room rate.<br>
                  </p>
                  <p>
                    <strong>
                      Cancellation:
                    </strong>
                    You'll be charged the total price of the reservation if you cancel your booking.
                  </p>
                  <p>
                    <strong>Prepayment:</strong>
                    No prepayment is needed.
                  </p>
                </ng-template>
              </div>
              <div class="choices__content">
                <div class="choices__content__icon">
                  <i class="bi bi-check"></i>
                </div>
                <div class="choices__content__text">
                  <strong>NO PREPAYMENT<br> NEEDED</strong> – pay at the property
                </div>
              </div>
            </div>
          </td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownConfig{{i}}" ngbDropdownToggle>{{room.quantity.selected }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <button *ngFor="let q of room.quantity.options" value="q" (click)="setQuantity(room, q)" ngbDropdownItem>
                  {{q}} {{q > 0 ? '(US$ ' + q * room.price + ')' : ''}}
                </button>
              </div>
            </div>
<!--            <select name="quantity">-->
<!--              <option *ngFor="let q of room.quantity.options" value="q">{{q}}</option>-->
<!--            </select>-->
          </td>
        </tr>
      </table>
      <div class="reserve">
        <div class="reserve__top"></div>
        <div class="reserve__content">
          <div class="reserve__info" *ngIf="(totalInfo | async).price > 0">
            <div class="reserve__info__rooms">
              <strong>{{(totalInfo | async).rooms}}</strong> room for
            </div>
            <div class="reserve__info__price">US${{(totalInfo | async).price}}</div>
            <div class="reserve__info__additional">+US${{(totalInfo | async).additional}} taxes and charges</div>
          </div>
          <button class="reserve btn" [routerLink]="['/listing/booking/']">
            I'll reserve
          </button>
          <div class="reserve__default">
            <div class="" *ngIf="(totalInfo | async).price > 0">
              Let's go to the next step
            </div>
            <ul>
              <li>Confirmation is immediate</li>
              <li>No registration required</li>
              <li>No booking or credit card fees!</li>
            </ul>
          </div>
          <ng-template class="reserve__chosen">
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="availability__mobile desktop-hide tablet-hide">
    <div class="rooms">
      <div class="room" *ngFor="let room of hotelRooms; let i = index">
        <div class="room__title">
          {{room.name}}
        </div>
        <div class="room__up-to">
          Price for up to:
          <div *ngFor="let p of room.sleeps " class="sleeps__person">
            <i class="bi bi-person-fill"></i>
          </div>
        </div>
        <div class="beds">
          <div class="bed normal" *ngIf="room.beds.normal">
            1 bed
            <img src="assets/images/prefill/hotel-page/icons/bed.svg">
          </div>
          <div class="bed queen" *ngIf="room.beds.queen">
            1 queen bed
            <img src="assets/images/prefill/hotel-page/icons/bed-queen.svg">
          </div>
          <div class="bed twin" *ngIf="room.beds.twin">
            1 twin beds
            <img src="assets/images/prefill/hotel-page/icons/bed.svg">
            <img src="assets/images/prefill/hotel-page/icons/bed.svg">
          </div>
          <div class="facilities with-icons">
            <div class="facility" *ngFor="let f of room.facilitiesIcons">
              <div class="facility__icon">
                <img [src]="f.img">
              </div>
              <div class="facility__name">{{f.title}}</div>
            </div>
          </div>
          <div class="choices">
            <div class="choices__content__icon">
              <i class="bi bi-check"></i>
            </div>
            <div class="choices__content__text">
              <strong>NO PREPAYMENT<br> NEEDED</strong> – pay at the property
            </div>
          </div>
          <div class="price">
            <div class="price__left">
              <div class="price__top">
                US${{room.price}}
              </div>
              <div class="price__additional">
                +US${{room.additionalPrice}} taxes and charges
              </div>
            </div>
            <div class="price__right">
              <button class="reserve btn" [routerLink]="['/listing/booking/']">
                Reserve
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
