.container{
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
  .title{
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
  }
  .button{
    display: flex;
    align-self: center;
    background-image: linear-gradient(
        96deg
      ,#53b2fe,#065af3);
    -webkit-box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 0;
    text-align: center;
    border-radius: 34px;
    width: 216px;
    padding: 10px;
    margin: 0 auto -24px auto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    justify-content: center;
  }
  .recent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

    &__title{
      font-size: 12px;
      line-height: 12px;
      font-weight: 700;
      display: flex;
      align-self: center;
    }
    &__box{
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      flex-direction: column;
      padding: 8px 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-left: 10px;
      background: #f2f2f2;
    }
    &__text{
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 3px;
    }
    &__time{
      font-size: 10px;
      line-height: 10px;
    }
  }
  .content{
    &__title{
      font-size: 14px;
      font-weight: 700;
      display: flex;
      justify-content: flex-start;
      white-space: nowrap;
    }
    &__name{
      display: flex;
      justify-content: flex-start;
      padding: 0;
      width: 300px;
    }
    &__bottom{
      display: flex;
      justify-content: flex-start;
    }
    ::ng-deep{
      .dropdown-menu.show{
        padding: 0;
        margin: 0;
      }
    }
  }
  .search{
    display: flex;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;

    &__dropdown{
      position: relative;
    }
    &__value{
      color: #4a4a4a;
    }
    .place, .rooms, .reason{
      padding: 10px 20px;
    }
    .place, .rooms, .reason{
      &:hover{
        background-color: #eaf5ff;
        cursor: pointer;
      }
    }
    .place{
      position: relative;
      width: 435px;
      border-right: 1px solid #e7e7e7;
      border-radius: 8px 0 0 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 105px;

      img{
        position: absolute;
        height: 15px;
        width: 15px;
        left: 10px;
        z-index: 10000;
        top: 10px;
      }
      &__name{
        width: 320px;

        &__select{
          width: 100%;
        }
      }
    }
    .time{
      display: flex;
      flex-direction: row;
      &__start,&__end{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #e7e7e7;

        &:hover{
          background-color: #eaf5ff;
          cursor: pointer;
        }
      }
      &__date{
        font-size: 20px;
        line-height: 20px;
        white-space: nowrap;
      }
      &__start{

      }
      &__end{

      }
      .date-picker{
        visibility: hidden;
        height: 0;
        box-sizing: border-box;
        position: absolute;
      }
    }
    .rooms{
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e7e7e7;

      &__value{
        .dropdown-toggle{
          color: #4a4a4a;
        }
      }
      &__content{
        width: 200px;
        margin-top: 18px;
      }
      &__numbers{
        font-size: 20px;
        line-height: 20px;
        white-space: nowrap;

        &:after{
          display: none;
        }
      }
    }
    .reason{
      border-radius: 0 8px 8px 0;
      display: flex;
      flex-direction: column;
      &__value{
        margin-top: 15px;
        .dropdown-toggle{
          color: #4a4a4a;
        }
      }
      &__option{
        color: #4a4a4a;
        display: block;
        max-width: 123px;
        white-space: normal;

        &:after{
          display: none;
        }
      }
    }
  }

  ::ng-deep{
    .ng-select .ng-select-container{
      color: #4a4a4a;
    }
    .ng-select .ng-select-container .ng-value-container .ng-input>input{
      padding-left: 20px;
    }
    .ng-select .ng-select-container .ng-value-container .ng-placeholder{
      padding-left: 20px;
    }
    .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
      padding-left: 20px;
    }
    .md-drppicker td.active, .md-drppicker td.active:hover{
      background-color: #008cff;
      color: #fff;
    }
    .md-drppicker td.off, .md-drppicker td.off.end-date, .md-drppicker td.off.in-range, .md-drppicker td.off.start-date{
      background-color: #fff;
      border-color: transparent;
      color: #999;
    }
    .md-drppicker .btn{
      background-color: #008cff;
    }
    .ng-arrow-wrapper{
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .container{
    .search{
      flex-wrap: wrap;

      .place{
        width: 50%;
        box-sizing: border-box;
      }
      .time{
        width: 50%;
        box-sizing: border-box;

        &__start{
          width: 50%;
        }
        &__end{
          width: 50%;
          border-right: none;
        }
      }
      .reason{
        display: flex;
        flex-direction: row;
        width: 50%;
        box-sizing: border-box;
        border-top: 1px solid #e7e7e7;

        &__value{
          margin-top: 0;
        }
        &__option{
          max-width: 250px;
          padding-left: 20px;
        }
      }
      .rooms{
        display: flex;
        box-sizing: border-box;
        width: 50%;
        border-top: 1px solid #e7e7e7;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container{
    padding: 0;
    flex-wrap: wrap;
    .search{
      flex-wrap: wrap;

      .place{
        width: 100%;
        box-sizing: border-box;
        border-right: none;
      }
      .time{
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #e7e7e7;
        &__start{
          width: 100%;
        }
        &__end{
          width: 100%;
          border-right: none;
        }
      }
      .reason{
        display: flex;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #e7e7e7;
        border-radius: 0;
        &__value{
          margin-top: 0;
        }
        &__option{
          max-width: 250px;
          padding-left: 20px;
        }
      }
      .rooms{
        display: flex;
        box-sizing: border-box;
        width: 100%;
        border-top: 1px solid #e7e7e7;
        border-right: none;
      }
    }
    .content{
      &__name{
          width: 280px;
      }
    }
  }
}
