.wrapper{
  background-color: white;
  padding: 20px 0 0 0;
  position: relative;
  z-index: 1;
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .flag {
      display: flex;
      align-self: center;
      margin-right: 5px;
      width: 15px;
      height: 12px;
      background-image: url("/assets/images/shared/flagSprite.png");
      background-repeat: no-repeat;
      background-size: 16px 38px;

      &.in {
        background-position: 0 0;
      }

      &.ae {
        background-position: 0 -12px;
      }

      &.us {
        background-position: 0 -24px;
      }
    }
    &__head{
      display: flex;
      flex-direction: row;
      padding-right: 18px;

      a{
        padding-left: 5px;
      }
    }
    &__left{
      display: flex;
      flex-direction: row;
      img{
        display: flex;
        width: 113px;
        height: 36px;
      }
      .navigation{
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        padding-top: 0;
        width: fit-content;
        margin: 0 auto 0 auto;

        &__item{
          display: flex;
          flex-direction: column;
          text-decoration: none;
          margin: 0 22px 0 0;
          cursor: pointer;
          align-items: center;

          &__img{
            display: flex;
            background-image: url("/assets/images/sprites/commonHeaderSprite5.png");
            width: 32px;
            height: 26px;
            background-size: 230px 200px;

            &.flight{
              background-position: -2px -30px
            }
            &.hotel{
              background-position: -37px .5px;
            }
            &.villa{
              background-position: -80px -116px;
            }
            &.ball{
              background-position: -68px -27px;
              width: 25px;
            }
            &.train{
              background-position: -137px -27px
            }
            &.bus{
              background-position: -90px -30px;
              width: 25px;
            }
            &.visa{
              background-position: -116px -118px;
            }
            &.cab{
              background-position: -115px -30px;
              width: 25px;
            }
            &.charter{
              background-position: -93px -54px;
            }
            &.dots{
              background-position: -198px -28px;
            }
          }

          &.active{
            .navigation__item__img{
              &.hotel{
                background-position: -50px -1px;
              }
            }
          }
        }
        &__text{
          display: flex;
          color: #4a4a4a;
          font-size: 12px;
          padding: 8px;
          margin-bottom: 3px;
        }
        .dropdown-toggle{
          &:after{
            display: none;
          }
        }
        .arrow{
          display: flex;
          align-self: center;
          margin: 0 0 2px 2px;
          border-top: 2px solid #4a4a4a;
          border-right: 2px solid #4a4a4a;
          width: 5px;
          height: 5px;
          padding: 2px;
          transform: rotate(135deg) skew(7deg, 7deg);
        }
        .more-text{
          display: flex;
          flex-direction: row;
        }
      }
    }
    &__right{
      color: #4a4a4a;
    }
  }

  .filters{
    background-color: #0a223d;
    position: sticky;
    top: 0;
  }
}
.dropdown-toggle:hover, .dropdown-toggle:active
{
  color: #4a4a4a;
}
::ng-deep{
  .dropdown-toggle {
    cursor: pointer;
    color: #4a4a4a;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;

    &:after {
      margin-left: 15px;
      border: solid #008cff;
      border-width: 0 2px 2px 0 !important;
      display: inline-block;
      padding: 3px;
      height: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      content: "";
      position: relative;
      top: 0;
      right: 4px;
    }
  }
}
#dropdownBasic2, #dropdownBasic3{
  display: flex;
  flex-direction: row;
}
.dropdown-item{
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .wrapper {
    .content {
      &__left {
        display: flex;
        flex-direction: column;
      }
      &__head{
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
      }
      .navigation{
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    .content {
      &__left {
        display: flex;
        flex-direction: column;
      }
      &__head{
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 10px 5px ;
      }
      .navigation{
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
