<div class="container">
  <div class="title">
    Book Domestic and International hotels and homestays. To list your property <a href="/">click here</a>
  </div>
  <div class="content">
    <div class="search">
      <div class="place">
        <div class="place__title">CITY / HOTEL / AREA / BUILDING</div>
        <div class="place__place"></div>
        <div class="place__country">India</div>
      </div>
      <div class="time"></div>
      <div class="rooms"></div>
      <div class="reason"></div>
    </div>
  </div>
  <div class="recent">
    <div class="recent__title">Recent Searches:</div>
    <div class="recent__box">
      <div class="recent__text">  Delhi, India</div>
      <div class="recent__time">23 Jan 21 - 24 Jan 21</div>
    </div>
  </div>
  <button class="button primary">
    SEARCH
  </button>
</div>
