<div class="container">
  <div class="content">
    <div class="search">
      <div class="place box" (click)="focusSearch( placeSelect, searchDropdown)">
        <div class="content__title">CITY, AREA OR PROPERTY</div>
        <div class="search__dropdown" ngbDropdown #searchDropdown="ngbDropdown">
          <span id="dropdownSearch" class="rooms__numbers" ngbDropdownToggle>
            <span class="search__value">{{placeForm?.value?.selectedCity ? placeForm?.value?.selectedCity  : 'Delhi'}}</span>
          </span>
          <div ngbDropdownMenu aria-labelledby="dropdownSearch">
            <div class="content__name" [formGroup]="placeForm">
              <img src="assets/images/icons/search.svg">
              <ng-select class="place__name__select"
                         #placeSelect
                         [items]="cities"
                         [selectOnTab]="true"
                         labelForId="age"
                         placeholder="Enter city/ Hotel/ Area/ Building"
                         formControlName="selectedCity"
                         appendTo="body"
                         [clearable]="false"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="time ngx-daterangepicker-action" (click)="openDatepicker()">
        <input type="text"
               ngxDaterangepickerMd
               [locale]="{format: 'DD/MM/YYYY HH:mm:ss', firstDay: 1}"
               [(ngModel)]="selectedDate"
               [showRangeLabelOnInput]="true"
               [minDate]="minDate"
               class="date-picker"/>
        <div class="time__start box ngx-daterangepicker-action">
          <div class="content__title ngx-daterangepicker-action">CHECK-IN</div>
          <div class="time__date ngx-daterangepicker-action">
            {{selectedDate.startDate | date}}
          </div>
        </div>
        <div class="time__end box ngx-daterangepicker-action">
          <div class="content__title ngx-daterangepicker-action">CHECK-OUT</div>
          <div class="time__date ngx-daterangepicker-action">
            {{selectedDate.endDate | date}}
          </div>
        </div>
      </div>
      <div class="rooms box" (click)="guestsDropdown.open()">
        <div class="content__title">GUESTS</div>
        <div class="rooms__content">
          <div class="rooms__value" ngbDropdown #guestsDropdown="ngbDropdown">
            <span id="dropdownGuests" class="rooms__numbers" ngbDropdownToggle><strong>{{rooms?.length ? rooms.length : 0}}</strong> Rooms <strong>{{guestsNumber}}</strong> Guests </span>
            <div ngbDropdownMenu aria-labelledby="dropdownGuests">
              <app-guests (newValue)="onRoomsChange($event)"></app-guests>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="button primary" (click)="search();">
    SEARCH
  </button>
</div>
