<div class="wrapper">
  <div class="left">
    <div class="left__image">
      <img src="{{hotel.img ? hotel.img : 'assets/images/shared/hotel.webp'}}">
    </div>
    <div class="left__content">
      <div class="title">
        <div class="title__content">
          {{hotel.name}}
        </div>
        <div class="title__stars">
          <rating [(ngModel)]="hotel.stars" [max]="5" [readonly]="true"></rating>
        </div>
      </div>
      <div class="place">
        Near Nehru Place
      </div>
      <div class="free">
        <div class="free__top">
          Free cancellation - no prepayment needed
        </div>
        <div class="free__bottom">
          You can cancel later, so lock in this great price today.
        </div>
      </div>
      <div class="choice">
        Great Choice! Booked 750+ times in last 15 Days
      </div>
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="rating">
        <strong>{{hotel.rating}}/5</strong> Very Good
      </div>
      <div class="reviews">
        <strong>{{hotel.reviews}}</strong> REVIEWS
      </div>
    </div>
    <div class="bottom">
      <div class="right__discount">₹ {{hotel.discountPrice}}</div>
      <div class="right__price">₹ {{hotel.price}}</div>
      <div class="right__per">Per Night</div>
      <div class="right__see">See availability</div>
    </div>
  </div>
</div>
