.wrapper{
  border: solid 1px #bababa;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(138 107 118 / 8%);
  cursor: pointer;
  overflow: hidden;
  width: 100%;

  &:hover{
    border-color: #008cff;
    background: #f4faff;
  }
  .left{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;

    &__image{
      img{
        display: flex;
        width: 263px;
        height: 162px;
      }
    }
    &__content{
      margin-left: 20px;
      width: 100%;

      .title{
        display: flex;
        flex-direction: row;
        font-weight: 800;
        margin-bottom: 12px;
        flex-wrap: wrap;

        &__content{
          font-size: 22px;
          line-height: 22px;
          padding-right: 20px;
        }
        &__stars{
          width: 100px;
        }
      }
      .place{
        color: #9b9b9b;
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
      }
      .choice{
        color: #d0021b;
        font-size: 12px;
        line-height: 12px;
      }
      .free{
        padding-top: 10px;
        color: #0061aa;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 185px;
    padding: 20px;
    border-left: 1px #e6e6e6 solid;
    background-color: #f5f5f5;
    justify-content: space-between;

    .top{
      .rating{
        background: #33d18f;
        border-radius: 4px;
        color: #fff;
        font-size: 10px;
        text-align: center;

        strong{
          font-size: 12px;
          padding-right: 5px;
        }
      }
      .reviews{
        font-size: 11px;
        line-height: 11px;
        margin-top: 5px;
      }
    }
    &__discount{
      font-size: 16px;
      line-height: 16px;
      color: #9b9b9b;
      text-decoration: line-through;
      margin-bottom: 5px;
    }
    &__price{
      font-size: 26px;
      line-height: 26px;
      font-weight: 900
    }
    &__per{
      color: #9b9b9b;
      font-size: 12px;
      line-height: 12px;
      margin-top: 5px;
    }
    &__see{
      color: #0084ff;
    }
  }
}
