.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 275px;
  padding: 15px;
  color: #4a4a4a;

  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__left{
      display: flex;
      flex-direction: column;

      .rating{
        background-color: #33d18f;
        border-radius: 4px;
        color: #fff;
        padding: 2px 4px;
        margin-right: 4px;
      }
      .reviews{
        display: flex;
        align-self: center;
      }
    }
    &__right{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__name,&__place{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100px;
    }
    &__stars{

    }
    &__place{
      font-size: 12px;
      line-height: 12px;
      color: #9B9B97;
    }
    &__head {
      display: flex;
      flex-direction: row;
      font-size: 9px;
      line-height: 9px;
    }
    &__discount{
      text-decoration: line-through;
      color: #9b9b9b;
      font-size: 11px;
      line-height: 11px;
      padding: 5px 0;
    }
    &__price{
      font-size: 14px;
      line-height: 14px;
      color: #000;
      font-weight: bold;
    }
    &__text{
      color: #9b9b9b;
      font-size: 10px;
      line-height: 10px;
    }
  }
  .left{
    img{
      display: flex;
      width: 82px;
      height: 82px;
      border-radius: 4px;
    }
  }
}
