/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~swiper/swiper-bundle.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: lato;
  src: url(assets/fonts/lato/Lato-Regular.ttf) format("opentype");
}

body{
  margin: 0;
  font-family: lato, sans-serif;
}
a{
  color: #008cff;
  &:hover {
    text-decoration: none;
  }
}
.global-width-limiter{
  display: flex;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
agm-map {
  height: 100%
}
rating >span{
  outline: none;
}

.desktop-hide{
  display: none;
}
.card-blue{
  background: #ebf3ff;
  border: 1px solid #ebf3ff;
  border-radius: 3px;
  padding: 15px;
}
.card-green{
  padding: 10px;
  border-radius: 4px;
  background: #d2edd5;

  &.with-border{
    border: 1px solid #97e59c;
  }
}
app-accordion-filters{
  width: 100%;
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .desktop-hide{
    display: flex;
  }
  .global-width-limiter{
    max-width: 780px;
    width: 780px;
  }
  .tablet-hide{
    display: none;
  }
  .modal-dialog{
    min-width: 100vw;
  }
}
@media screen and (max-width: 800px) {
  .desktop-hide{
    display: flex;
  }
  .tablet-hide{
    display: flex;
  }
  .global-width-limiter{
    max-width: 100%;
    width: 100%;
  }
  .mobile-hide{
    display: none;
  }
}
